h1{
    cursor: pointer;
}

.card{
    cursor: pointer;
    color:#ffffff !important;
    box-shadow: 5px 5px 15px 5px #bbbbbb;

    &--bg-green{
        background-color: #006b77 !important;
        border-color:#006b77 !important;
    }
    &--bg-yellow {
        background-color: #fbb14e !important;
        border-color: #fbb14e !important;
    }

    &--bg-red {
        background-color: #f08d76 !important;
        border-color: #f08d76 !important;
    }
}